### ######################################## ###
### Systemd service configuration for PiTona ###
### ######################################## ###

[Unit]
Description=PiTona webserver
Documentation=https://github.com/tntmeijs/pitona

[Service]
Type=simple
ExecStart=/home/pi/pitona

[Install]
WantedBy=multi-user.target
